@switch (type) { @case('checkbox') {
<div class="flex items-center gap-2">
  <input
    type="checkbox"
    class="border appearance-none border-[rgba(0,0,0,0.08)] bg-[#FBFBFB] cursor-pointer transition hover:border-primary rounded-md shadow-field h-5 w-5 relative accent-primary checked:bg-primary checked:border-primary checked:before:content-['✔'] checked:before:absolute checked:before:translate-x-[3px] checked:before:text-white checked:before:text-sm"
    id="check"
  />
  <label for="check" class="translate-y-[2px] cursor-pointer"
    >Remember me</label
  >
</div>
} @default {
<div
  class="h-[36px] px-3 border border-[rgba(0,0,0,0.04)] rounded-md shadow-field flex justify-between items-center gap-3 transition hover:border-primary"
  [ngClass]="{
    'h-[44px]': size === 'large',
    'w-fit': width === 'auto',
    'border-danger text-danger': invalid
  }"
>
  <div class="flex justify-center items-center w-full h-full gap-3">
    <ng-content select="[icon-left]"> </ng-content>
    <input
      [id]="id"
      [type]="type"
      [placeholder]="placeholder"
      class="outline-none border-none bg-transparent h-full w-full placeholder-[#BBBBBB]"
    />
  </div>
  <ng-content select="[icon-right]"> </ng-content>
</div>
} }
