@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  //COLORS
  --color-primary: oklch(0.8837 0.1249 86.33);
  --color-primary-hover: oklch(0.9037 0.1249 86.33);

  --color-secondary: oklch(0.937 0.0724 87.27);
  --color-secondary-faded: oklch(0.937 0.0724 87.27 / 0.45);
  --color-secondary-hover: oklch(0.937 0.0724 87.27 / 0.65);

  --color-accent: oklch(0.7829 0.1571 61.31);
  --color-body: oklch(0.9923 0.0025 48.72);
  --color-text: oklch(0.325 0 0);

  //DARK
  --color-primary-dark: oklch(0.8837 0.1249 86.33);
  --color-secondary-dark: oklch(0.937 0.0724 87.27);
  --color-accent-dark: oklch(0.7829 0.1571 61.31);
  --color-body-dark: oklch(0.2219 0.0134 93.96);
  --color-text-dark: oklch(0.9923 0.0025 48.72);
  --color-border-dark: oklch(0.3446 0.0223 92.97);
  --color-input-dark: oklch(0.2469 0.0165 96.97);
  --color-placeholder-dark: oklch(0.5071 0.0223 90.67);

  --color-danger: oklch(0.6192 0.1694 25.05);
  --color-danger-hover: oklch(0.5892 0.1694 25.05);

  --color-danger-bg: oklch(0.971 0.013 17.38 / 0.8);
  --color-danger-text: oklch(0.505 0.213 27.518);
  --color-warning-bg: oklch(0.987 0.026 102.212 / 0.8);
  --color-warning-text: oklch(0.554 0.135 66.442);
  --color-info-bg: oklch(0.97 0.014 254.604 / 0.8);
  --color-info-text: oklch(0.488 0.243 264.376);
  --color-success-bg: oklch(0.982 0.018 155.826 / 0.8);
  --color-success-text: oklch(0.527 0.154 150.069);

  //SHADOW
  --shadow-field: 0 1px 7px rgba(0, 0, 0, 0.06);
}

body {
  font-family: "Helvetica";
  font-size: 14px;
}
