@keyframes slideRight {
  0% {
    transform: translateX(calc(100% + 1.25rem));
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% + 1.25rem));
  }
}

.slideRight {
  animation: slideRight 0.2s ease-out forwards;
}
.slideOutRight {
  animation: slideOutRight 0.2s ease-out forwards;
}
